<div class="map-actions">		
	<div class="map-action">
		<label>
			<a class="btn btn-floating cyan pulse-hover">
				<i class="material-icons" title="click to filter markers">filter_list</i>
			</a>
		</label>
	</div>
	<div class="map-action">
		<label>
			<a class="btn btn-floating cyan pulse-hover">
				<i class="material-icons" title="click to change to X">filter_1</i>
			</a>
		</label>
	</div>
	<div class="map-action">
		<label>
			<a class="btn btn-floating cyan pulse-hover">
				<i class="material-icons" title="click to change to X">filter_2</i>
			</a>
		</label>
	</div>
	<div class="map-action">
			<label>
				<a class="btn btn-floating cyan pulse-hover">
					<i class="material-icons" title="click to add a new marker" (click)="addCurrentLocation()">add_location</i>
				</a>
			</label>
		</div>
</div>
