.map-component {
    height: 100vh;
}
agm-map {
    height: 100%;
}
.left-side {
    vertical-align: top;
    display: inline-block;
    width: var(--side-left-width); 
}
.map-component {
    display: inline-block;
    /* TODO: Has to be a better way... */
    width: var(--map-right-width); 
}