<style>
    .map-component {
        display: inline-block;
        /* TODO: Has to be a better way... */
        width: calc(100% - 505px); 
    }
</style>
<div class="valign-wrapper">    
    <i style="color: red" class="material-icons">settings_applications</i> TODO -- ADD PREFERENCE PAGE OR MODAL?
</div>
<div class="map-component">
    <!-- TODO: WHERE ART THIS GO? -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <agm-map [latitude]="map_options.center.lat" [longitude]="map_options.center.lng" [zoom]="map_options.zoom">
        <!-- Using *ngFor (structural directive) loop adding in an agm-marker for each marker in the list of markers. -->
        <agm-marker 
            *ngFor="let marker of markers; let marker_index = index" 
            (markerClick)="clickedMarker(marker.title, marker_index)" 
            [latitude]="marker.position.lat" 
            [longitude]="marker.position.lng"
            [label]="marker.title" 
            [markerDraggable]="!marker.locked" 
            (dragEnd)="markerDragEnd(marker, $event, marker_index)"
            [iconUrl]="marker.icon">
            
            <!-- For each of the markers include a cricle -->
            <agm-circle
                [latitude]="marker.position.lat" 
                [longitude]="marker.position.lng"
                [radius]="marker.proximity * miles_to_meters"
                [fillColor]="'gray'"
                [fillOpacity]=".2"
                [editable]="!marker.locked"
                [circleDraggable]="false"
                (radiusChange)="cirlceRadiusChanged(marker, $event, marker_index)"
                (centerChange)="circleCenterChanged(marker, $event, marker_index)">
            </agm-circle>

            <!-- For each marker include an info-window, that can be toggled on and off -->
            <agm-info-window
                [isOpen]="marker.showInfoWindow">	
                DEPRECATED?				
                <!-- <div>
                    <form class="info-window-form col s12">							
                        <h6>Marker</h6>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="marker-name" class="active">Name</label>
                                <input name="marker-name" type="text" [(ngModel)]="marker.title">
                            </div>
                        </div>
                        <div class="row">								
                            <div class="input-field col s12">
                                <label for="marker-address" class="active">Address</label>
                                <input name="marker-address" type="text" [(ngModel)]="marker.address">									
                                (lat: {{marker.position.lat}}, lng: {{marker.position.lng}})
                            </div>
                        </div>
                        <div id="sliders-n-proximity" class="row valign-wrapper">	
                            <div class="switch">
                                <label class="valign-wrapper">
                                    <div [ngSwitch]="marker.active" class="switch">
                                        <div *ngSwitchCase="true" class="switch-case">
                                            <i class="material-icons active-color-strong">location_on</i>
                                        </div>
                                        <div *ngSwitchCase="false" class="switch-case">
                                            <i class="material-icons">location_off</i>
                                        </div>
                                    </div>	
                                    <input type="checkbox" [checked]="marker.active" (change)="markerToggleActive(marker_index);">
                                </label>
                            </div>
                            <div class="switch">
                                <label class="valign-wrapper">
                                    <div [ngSwitch]="marker.locked" class="switch">
                                        <div *ngSwitchCase="true" class="switch-case">
                                            <i class="material-icons">lock</i>										
                                        </div>
                                        <div *ngSwitchCase="false" class="switch-case">
                                                <i class="material-icons active-color-strong">lock_open</i>
                                        </div>
                                    </div>			
                                    <input type="checkbox" [checked]="marker.locked" (change)="markerToggleLocked(marker_index);" >
                                </label>
                            </div>
                            <div>
                                <label for="marker-proximity">Proximity</label>
                                <div [ngSwitch]="marker.locked" class="switch">
                                    <div *ngSwitchCase="true" class="switch-case">
                                        {{marker.proximity}}
                                    </div>
                                    <div *ngSwitchCase="false" class="switch-case">
                                        <input type="number" id="marker-proximity" name="marker-proximity" [(ngModel)]="marker.proximity" />										
                                    </div>
                                </div>									
                            </div>
                        </div>
                        <h6>Reminders</h6>
                        <div *ngFor="let reminder of marker.reminders; let reminderIndex = index">
                            <div class="valign-wrapper reminder-item">
                                <div class="switch">
                                    <label class="valign-wrapper">
                                        <div [ngSwitch]="reminder.active" class="switch">
                                            <div *ngSwitchCase="true" class="switch-case">
                                                <i class="material-icons active-color-strong">notifications</i>
                                            </div>
                                            <div *ngSwitchCase="false" class="switch-case">
                                                <i class="material-icons">notifications_off</i>
                                            </div>
                                        </div>	
                                        <input type="checkbox" [checked]="reminder.active" (change)="reminderToggleActive(marker_index, reminderIndex);">											
                                    </label>
                                </div>
                                {{reminder.message}} 
                            </div>
                        </div>
                        <h6>Historic</h6>
                        <div *ngFor="let historicReminder of marker.historic_reminders; let histReminderIndex = index">
                            <div class="row historic-item">
                                <span class="italics">{{historicReminder.sent_on}}</span> - {{historicReminder.reminder.message}} 
                            </div>
                        </div>
                    </form>							
                </div> -->
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>

<marker-detail *ngIf="selected_marker" [selected_marker]="selected_marker"></marker-detail>


