<!-- TODO: WHERE ART THIS GO? -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="left-side">
    <map-actions 
        (onAddMarker)="addNewMarker($event)">
    </map-actions>    
    <markers-list 
        [markers]="markers" 
        [selected_marker]="selected_marker"
        (onViewMarkerDetailsOverlay)="displayMarkerDetailsOverlay($event)">
    </markers-list>
</div>

<div class="map-component">
    <div *ngIf="selected_marker&&selected_marker.show_details_overlay" class="map-marker-detial-overlay">        
        <marker-detail 
            [selected_marker]="selected_marker">
        </marker-detail>            
    </div>    

    <agm-map [latitude]="map_options.center.lat" [longitude]="map_options.center.lng" [zoom]="map_options.zoom">
        <!-- Using *ngFor (structural directive) loop adding in an agm-marker for each marker in the list of markers. -->
        <agm-marker 
            *ngFor="let marker of markers; let marker_index = index" 
            (markerClick)="clickedMarker(marker.title, marker_index)" 
            [latitude]="marker.position.lat" 
            [longitude]="marker.position.lng"
            [label]="marker.title" 
            [markerDraggable]="!marker.locked" 
            (dragEnd)="markerDragEnd(marker, $event, marker_index)"
            [iconUrl]="marker.icon_current">
            
            <!-- For each of the markers include a cricle -->
            <agm-circle
                [latitude]="marker.position.lat" 
                [longitude]="marker.position.lng"
                [radius]="marker.proximity * miles_to_meters"
                [fillColor]="'gray'"
                [fillOpacity]=".2"
                [editable]="!marker.locked&&marker.active"
                [circleDraggable]="false"
                (radiusChange)="cirlceRadiusChanged(marker, $event, marker_index)"
                (centerChange)="circleCenterChanged(marker, $event, marker_index)">
            </agm-circle>
        </agm-marker>
    </agm-map>
</div>





