.marker-actions .marker-action, .marker-actions .switch, .marker-actions .switch-case {
    display: inline;    
}

.marker-actions .active-color-mild {
    color: #84c7c1;
}

.marker-actions .active-color-strong {
    color: #26a69a;
}