agm-map {
  height: 600px;
}

.switch, .switch-case {
  display: inline-block;
}

input[type="checkbox"] {
  opacity: 1 !important;
}

#info-window-form .row, #info-window-form input {
  margin-bottom: 0px !important;
  background: black !important;
  color: aqua !important;
}
