agm-map {
  height: 600px;
}

.switch, .switch-case {
  display: inline-block;
}

/* TODO Revisit this */
input[type="checkbox"] {
  opacity: 1 !important; 
}

.info-window-form .lever {
  margin: 0px !important;
  margin-right: 10px !important;
}

.info-window-form input {
  margin: 0px !important;
}
.info-window-form .row {
  margin-bottom: 10px;
}


