<div>
	
	<!-- Compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
	
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
	<div>
		<div>Globals?</div>
		<ul>
			<li>latitude: {{ map_options.center_coordinates.lat }}</li>
			<li>longitude: {{ map_options.center_coordinates.lng }}</li>
			<li>zoom: <input id="map-zoom" max="22" min="1" name="map-zoom" type="number" [(ngModel)]="map_options.zoom"></li>
			<li>lastOpenedInfoWindowIndex: {{lastOpenedInfoWindowIndex}}</li>		
			
			<li>showMultipleInfoWindows: <input type="checkbox" id="multi-info-windows" name="multi-info-windows" [(ngModel)]="showMultipleInfoWindows" /></li>
		</ul>
	</div>
	<div class="main-container">
		<agm-map [latitude]="map_options.center_coordinates.lat" [longitude]="map_options.center_coordinates.lng" [zoom]="map_options.zoom">

			<agm-marker 
				*ngFor="let marker of markers; let markerIndex = index" 
				(markerClick)="clickedMarker(marker.name, markerIndex)" 
				[latitude]="marker.marker_coordinates.lat" 
				[longitude]="marker.marker_coordinates.lng"
				[label]="marker.name" 
				[markerDraggable]="!marker.locked" 
				(dragEnd)="markerDragEnd(marker, $event, markerIndex)">
				
				<agm-circle
				 [latitude]="marker.marker_coordinates.lat" 
				 [longitude]="marker.marker_coordinates.lng"
				 [radius]="marker.proximity * milesToMeters"
				 [fillColor]="'gray'"
				 [fillOpacity]=".2"
				 [editable]="true"
				 [circleDraggable]="false"
				 (radiusChange)="cirlceRadiusChanged(marker, $event, markerIndex)">
				</agm-circle>

				<agm-info-window
				 [isOpen]="marker.showInfoWindow">					
					<div>
						<form class="col s12">
							<div class="row">
								<div>
									<label for="marker-name" class="active">Name</label>
									<input name="marker-name" type="text" [(ngModel)]="marker.name">
								</div>
								<div>
									<label for="marker-address" class="active">Address</label>
									<input name="marker-address" type="text" [(ngModel)]="marker.address">
									 <div>{{marker.marker_coordinates.lat}} {{marker.marker_coordinates.lng}}</div>
								</div>
							</div>
							<div class="row">
								<div>
									<label for="marker-active">Active</label>
									<input type="checkbox" id="marker-active" name="marker-active" [(ngModel)]="marker.active" />
								</div>
								<div>
									<label for="marker-locked">Locked</label>
									<input type="checkbox" id="marker-locked" name="marker-locked" [(ngModel)]="marker.locked" />
								</div>
								<div>
									<label for="marker-proximity">Proximity</label>
									<input type="number" id="marker-proximity" name="marker-proximity" [(ngModel)]="marker.proximity" />
								</div>
							</div>
							<div class="">
								<strong>Reminders</strong>
							</div>
							<div *ngFor="let reminder of marker.reminders; let reminderIndex = index">
								<div>
									<label for="reminder-active">Active</label>				
									<input type="checkbox" id="reminder-active" name="reminder-active" [checked]="reminder.active" (change)='reminderStatusChanged(markerIndex, reminderIndex)'/>
									<span style="color:red;">{{reminder.active}}</span> {{reminder.message}} 
								</div>
							</div>
							<div class="">
								<strong>Historic</strong>
							</div>
							<div *ngFor="let historicReminder of marker.historic_reminders; let histReminderIndex = index">
								<div>
									 {{historicReminder.sent_on}} - {{historicReminder.reminder.message}} 
								</div>
							</div>
						</form>							
					</div>
				</agm-info-window>
			</agm-marker>
			
						
		</agm-map>
	</div>
</div>
