<!--The content below is only a placeholder and can be replaced.-->

<div>
	<div>
		<div>Map Variables:</div>
		<ul>
			<li>latitude: {{ map_options.center_coordinates.lat }}</li>
			<li>longitude: {{ map_options.center_coordinates.lng }}</li>
			<li>zoom: {{ map_options.zoom }}</li>
		</ul>
	</div>
	<div class="main-container">
		<agm-map [latitude]="map_options.center_coordinates.lat" [longitude]="map_options.center_coordinates.lng" [zoom]="map_options.zoom">
			<!-- <agm-marker [latitude]="map_options.center_coordinates.lat" [longitude]="map_options.center_coordinates.lng"></agm-marker> -->
		</agm-map>
	</div>
</div>
